<div class="buy" *ngIf="View">

  <div>
    <div class="buy_logo">
      <i class="fa-solid fa-cart-shopping" style="color: #396ce8;"></i>
      &nbsp;
      &nbsp;
      <h3>Buy Now !</h3>
    </div>
    <p class="p">The new version of the device will be displayed at the top.</p>
  </div>

  <div class="buy_main">

    <div class="item" *ngFor="let data of BuyDataList" routerLink="/user/product" [queryParams]="{id:data.id}" [title]="data.desc">

      <div class="fewleft" *ngIf="data.stock<30">
        <small><i class="fa-solid fa-arrow-down-wide-short"></i> only few left</small>
      </div>

      <div class="hidden">
        <p><i class="fa-solid fa-eye fa-fade" style="color: #0c3f97;"></i> click to view</p>&nbsp;&nbsp;
      </div>

      <div class="item_img">
        <img [src]="data.img" alt="">
      </div>

      <div class="item_content">
        <h3><i class="fa-solid fa-server"></i> {{data.name}}</h3>
        <p>{{data.desc | slice:0:55}}....</p>

        <div class="price">
          <h4> {{data.discountprice|currency:'INR'}} </h4>
          &nbsp;
          &nbsp;
          <p style="text-decoration: line-through; text-decoration-thickness: 1.5px; color: rgb(63, 61, 61);">{{data.actualprice|currency:'INR'}}</p>
          &nbsp;
          &nbsp;
          <p>{{((data.actualprice - data.discountprice) / data.actualprice) * 100 | number:'.0-0'}}% off</p>
        </div>
      </div>

    </div>

  </div>

  <h2 style="color: red;" *ngIf="BuyDataList==null || BuyDataList==''">No Device Available !</h2>

</div>
