<div class="product" *ngIf="view">
  <button class="backbtn" routerLink="/user/buy"><i class="fa-solid fa-arrow-left"></i> Back</button>
  <div class="row1">
    <div class="section1">
      <img [src]="kitData.img" alt="img" [title]="kitData.name">
    </div>

    <div class="section2">
      <h2><i class="fa-solid fa-server"></i> {{kitData.name}}</h2>
      <p class="p">{{kitData.desc}}</p>
      <p style="color: green;">Special price</p>

      <div class="price">
        <h4> {{kitData.discountprice|currency:'INR'}} </h4>
        &nbsp;
        &nbsp;
        <p style="text-decoration: line-through; text-decoration-thickness: 1.5px; color: rgb(63, 61, 61);">
          {{kitData.actualprice|currency:'INR'}}</p>
        &nbsp;
        &nbsp;
        <p>{{((kitData.actualprice - kitData.discountprice) / kitData.actualprice) * 100 | number:'.0-0'}}% off</p>
      </div>

      <p><i class="fa-solid fa-bolt"></i> Feature</p>
      <p class="p">•High Accuracy •More Effective •HighDurability</p>
    </div>
  </div>

  <h3 *ngIf="kitData.stock>10"><i class="fa-solid fa-cart-shopping"></i> Checkout this product </h3>

  <div class="row2" *ngIf="kitData.stock>10">
    <div class="first">
      <div class="changebtn">
        <h4 style="font-size: 1.1rem;">Deliver to : </h4>
        <button routerLink="/user/info">Update</button>
      </div>

      <div class="address">
        <p style="letter-spacing: 1px;  font-size: 1.1rem;">{{userData.name}}</p>
        <p style="width: 320px; margin-top: 10px;"><i class="fa-solid fa-house"></i> &nbsp;
          <small style="font-size: 1rem;"
            *ngIf="!(userData.address==null || userData.address==''||userData.pincode==null || userData.pincode=='')">{{userData.address}}
            - {{userData.pincode}}</small>
          <small style="font-size: 1rem; color: red;"
            *ngIf="(userData.address==null || userData.address==''||userData.pincode==null || userData.pincode=='')">No
            Data available !</small>
        </p>
        <p style="margin-top: 10px;"><i class="fa-solid fa-phone"></i> &nbsp;
          <small style="font-size: 1rem;"
            *ngIf="!(userData.phone==null || userData.phone=='')">{{userData.phone}}</small>
          <small style="font-size: 1rem; color: red;" *ngIf="(userData.phone==null || userData.phone=='')">No Data
            available !</small>
        </p>
      </div>
    </div>

    <div class="second">
      <form [formGroup]="uidForm" (ngSubmit)="placeOrder()">
        <h4 style="font-size: 1.1rem; margin: 0px; margin-top: 20px;">Device UID :
          <small *ngIf="enableMessage" style="font-size: 1rem;">
            <small style="color: green;font-size: 1rem;" *ngIf="enableAvail">available</small>
            <small style="color: red;font-size: 1rem;" *ngIf="!enableAvail">not available</small>
          </small>
        </h4>
        <div class="form">
          <input type="text" placeholder="Enter UID" formControlName="uid">
          <button type="button" (click)="availabilityButton()" [disabled]="uidForm.invalid" class="bbttnn">check
            availability</button>
        </div>
        <small style="color: red;margin-left: 7px;">
          <small *ngIf="uidForm.controls['uid'].touched && uidForm.controls['uid'].errors?.['required']">Enter
            UID</small>
          <small *ngIf="uidForm.controls['uid'].dirty && uidForm.controls['uid'].errors?.['pattern']">Number,Alphabet
            with length 4-16</small>
        </small>
        <p style="margin: 0px; color: rgb(80, 77, 77); font-size: 0.9rem; margin-bottom: 15px; margin-top: 20px;">
          This will helps to track your device with unique identity. </p>

        <button type="submit" class="placeorderbtn" [disabled]="uidForm.invalid">Place Order and pay
          {{kitData.discountprice|currency:'INR'}}</button>
      </form>
    </div>

  </div>

  <h2 *ngIf="kitData.stock<=10" style="color: red;">Currently Unavailable</h2>
</div>

<div class="extraspace"></div>

<div class="payment" *ngIf="paymentView" >
  <div class="payment_box">
    <div class="payment_top">
      <i class="fa-brands fa-amazon-pay"></i>
      <p>{{userData.name}}</p>
      <i class="fa-solid fa-xmark cancel" (click)="disablePaymentView()"></i>
    </div>

    <div class="payment_content">
      <p style="margin-left: 10px; color: blue;">Pay With UPI QR</p>
      <div class="qr">
        <img [src]="'assets/qr.webp'" alt="Image of qr" width="141" height="141">
        <div>
          <p>Scan the QR using any UPI app on your phone.</p>
          <div class="provider">
            <img [src]="'assets/paytm.svg'" alt="Image of paytm">
            <img [src]="'assets/phonepe.svg'" alt="Image of phonepe">
            <img [src]="'assets/googlepay.svg'" alt="Image of googlepay">
          </div>
        </div>
      </div>

      <p style="margin-left: 10px; color: blue;">Personal Info</p>
      <div class="user_info">
        <p><i class="fa-solid fa-at"></i> {{userData.email}}</p>
        <p><i class="fa-solid fa-location-dot"></i> {{userData.address}} - {{userData.pincode}}, {{userData.phone}}</p>
      </div>

      <p style="margin-left: 10px; color: blue;">Cards, UPI & More</p>
      <div class="card_upi">
        <div class="items">
          <div>
            <p><i class="fa-brands fa-gg"></i> UPI / QR</p>
            <p class="pp">pay with installed app</p>
          </div>
          <button (click)="makePaymentSuccess()">Pay</button>
        </div>
        <div class="items">
          <div>
            <p><i class="fa-solid fa-building-columns"></i> Netbanking</p>
            <p class="pp">all indian banks</p>
          </div>
          <button (click)="makePaymentSuccess()">Pay</button>
        </div>
        <div class="items">
          <div>
            <p><i class="fa-solid fa-wallet"></i> Wallet</p>
            <p class="pp">paytm and more</p>
          </div>
          <button (click)="makePaymentSuccess()">Pay</button>
        </div>
        <div class="items">
          <div>
            <p><i class="fa-brands fa-apple-pay"></i> Pay Later</p>
            <p class="pp">amazon pay later</p>
          </div>
          <button (click)="makePaymentSuccess()">Pay</button>
        </div>
      </div>
    </div>
    <div class="payment_bottom">
      <p> {{kitData.discountprice|currency:'INR'}}</p>
      <button (click)="disablePaymentView()"><i class="fa-solid fa-xmark"></i> Cancel</button>
    </div>
  </div>
</div>

<div class="payment_success" *ngIf="paymentSuccessView">
  <div class="payment_content1">
      <img [src]="'assets/payment_success.webp'" alt="Image of payment success" width="3000" height="2000">
      <h2>Order Placed Successfully</h2>
      <p style="font-size: 1.2rem;"> {{kitData.discountprice|currency:'INR'}}</p>
      <p>Payment ID :  {{paymentID}}</p>
      <div class="payment_btn">
          <button [routerLink]="'./user/order'"><i class="fa-solid fa-list-check"></i> Go to Order</button>
      </div>
  </div>
</div>
