<div class="about">
  <div class="first">
    <div class="first-inside">
      <h1>Aspire Systems</h1>
      <h2>Attention.Always</h2>
      <ul>
        <li>Aspire Systems is a global technology services firm serving as a trusted technology partner for our customers.</li>
        <li>We work with some of the world's most innovative enterprises and independent software vendors, helping them leverage technology and outsourcing in our specific areas of expertise.</li>
        <li>Our core philosophy of "Attention. Always." communicates our belief in lavishing care and attention on our customers and employees.</li>
      </ul>
      <h2>Services</h2>
      <ul>
        <li>Software Engineering</li>
        <li>Cloud Transformation</li>
        <li>ServiceNow Implementation Services</li>
        <li>Devops</li>
      </ul>
      <h2>Our Customers</h2>
      <ul>
        <li>Pearson</li>
        <li>Salesforce</li>
      </ul>
    </div>
  </div>
  <div class="second">
    <img [src]="'assets/about.webp'" alt="Image of About Page" width="3000" height="2000">
  </div>
</div>


