<footer>

  <div class="footer-logo">
      <img src="logo.png" alt="logo">
      <h2>Tracker</h2>
  </div>

  <div class="footer-navigation">
      <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/support">Support</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="">FAQ</a></li>
      </ul>
  </div>

  <div class="footer-media">
      <a href="https://www.linkedin.com/in/karthikeyan-developer/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/karthikeyankdeveloper/" target="_blank"><i class="fa-brands fa-github"></i></a>
  </div>

  <div class="footer-year">

      <p>	&#169; 2023 All rights reserved</p>

  </div>

</footer>
