
<div class="header" id="header">
  <header>
    <nav>
      <div class="header_icon">
        <a routerLink="/">
          <img src="logo.png" alt="LOGO">
          <h1 class="header_icon_name">Tracker</h1>
        </a>
        <i class="fa-solid fa-bars" *ngIf="!head_content" (click)="toggle()"></i>
        <i class="fa-solid fa-xmark" *ngIf="head_content" (click)="toggle()"></i>
      </div>

      <div class="header_content" *ngIf="head_content">
        <ul>
          <li> <a routerLink="" (click)="this.onResize()">Home</a> </li>
          <li *ngIf="!access_service.IsLoggedIn()"> <a routerLink="login" (click)="this.onResize()">Login</a> </li>
          <li *ngIf="access_service.IsUser()"> <a routerLink="user" (click)="this.onResize()">Dashboard(User)</a> </li>
          <li *ngIf="access_service.IsAdmin()"> <a routerLink="admin" (click)="this.onResize()">Dashboard(Admin)</a> </li>
          <li *ngIf="!access_service.IsAdmin()"> <a routerLink="support" (click)="this.onResize()">Support</a> </li>
          <li *ngIf="!access_service.IsLoggedIn()"> <a routerLink="about" (click)="this.onResize()">About</a> </li>
          <li *ngIf="access_service.IsLoggedIn()"> <a (click)="this.onResize()" (click)="Logout()" style="cursor: pointer;">Logout</a> </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="loader" id="loader" *ngIf="loaderservice.GetSampleLoader()"></div>
</div>


<router-outlet ></router-outlet>
