
<div class="header" id="header">
  <header>
    <nav>
      <div class="header_icon">
        <a routerLink="/">
          <img src="logo.png" alt="LOGO">
          <h1 class="header_icon_name">Tracker</h1>
        </a>
        <i class="fa-solid fa-bars" *ngIf="!headContent" (click)="toggle()"></i>
        <i class="fa-solid fa-xmark" *ngIf="headContent" (click)="toggle()"></i>
      </div>

      <div class="header_content" *ngIf="headContent">
        <ul>
          <li> <a routerLink="" (click)="this.onResize()">Home</a> </li>
          <li *ngIf="accessService.isUser()"> <a routerLink="user" (click)="this.onResize()">Dashboard</a> </li>
          <li *ngIf="accessService.isAdmin()"> <a routerLink="admin" (click)="this.onResize()">Dashboard(Admin)</a> </li>
          <li *ngIf="!accessService.isAdmin()"> <a routerLink="support" (click)="this.onResize()">Support</a> </li>
          <li *ngIf="!accessService.isLoggedIn()"> <a routerLink="about" (click)="this.onResize()">About</a> </li>
          <li *ngIf="!accessService.isLoggedIn()"> <a routerLink="login" (click)="this.onResize()">Login</a> </li>
          <li *ngIf="accessService.isLoggedIn()"> <a  (click)="logout()"  style="cursor: pointer;">Logout</a> </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="loader" id="loader" *ngIf="loaderService.getLoader()"></div>
</div>


<router-outlet ></router-outlet>
