<div class="managekit" *ngIf="View">
  <h3 style="font-size: 1.5rem; letter-spacing: 1px;"><i class="fa-brands fa-uikit" style="color: blue;"></i>
    Manage Device</h3>
  <p>Password will be visible only if the device is activated.</p>

  <h3 style="color: red;" *ngIf="DeviceData==null || DeviceData==''">No Device Available !</h3>

  <div class="items">
    <div class="item_data" *ngFor="let device of DeviceData">
      <div class="left_block">
        <img [src]="device.kitimg" alt="device">
      </div>
      <div class="right_block">

        <h3><i class="fa-solid fa-passport"></i> UID : {{device.uid|uppercase}}</h3>
        <p><i class="fa-solid fa-key"></i> Password : <span *ngIf="device.active">{{device.password}}</span> <span
            *ngIf="!device.active">Not Available</span></p>

        <div *ngIf="device.active">
          <div class="right_status">
            <p><i class="fa-solid fa-circle-info"></i> Status : <span *ngIf="device.enable">ENABLE</span> <span
                *ngIf="!device.enable">DISABLE</span></p>
          </div>
          <div class="right_btn">
            <button class="changepassbtn" (click)="ChangePass(device.uid)">Change password</button>
            <button class="disablebtn" *ngIf="device.enable" (click)="disable(device.uid)">Disable</button>
            <button class="enablebtn" *ngIf="!device.enable" (click)="enable(device.uid)">Enable</button>
          </div>
        </div>

        <div *ngIf="!device.active">
          <p style="color: red;">Not Yet Activated</p>

          <p style="width:175px; font-weight: lighter;">The device will be activated once it is connected to the
            internet.</p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="changepass" *ngIf="passView">

  <form [formGroup]="passwordForm" (ngSubmit)="UpdatePassword()">
    <div>
      <i class="fa-brands fa-uikit" style="font-size: 1.5rem;"></i>
    </div>
    <div style="margin: 10px 0px;">
      <label for="changepass" style="font-weight: 600;">Enter Password</label>
    </div>
    <input type="number" id="changepass" formControlName="password">
    <div style="margin: 10px 0px;">
      <button type="submit" class="green">Update</button>
      <button type="button" class="red" style="margin-left: 10px;" (click)="TogglePass()">Cancel</button>
    </div>
  </form>
</div>
