<h2 class="h2">Analytics</h2>


<div class="analytics">


  <div class="analytics-content">

    <h2><i class="fa-solid fa-calendar-day"></i>Today Orders</h2>

    <h3>{{todayOrder}}</h3>

    <a routerLink="order">
      <button>View</button>
    </a>

  </div>

  <div class="analytics-content">
    <h2><i class="fa-regular fa-hourglass-half"></i>Total Pending Orders</h2>
    <h3>{{totalPendingOrder}}</h3>
    <a routerLink="order">
      <button>View</button>
    </a>

  </div>
  <div class="analytics-content">
    <h2><i class="fa-regular fa-calendar-check"></i>Total Done Orders</h2>
    <h3>{{totalDoneOrder}}</h3>
    <a routerLink="order">
      <button>View</button>
    </a>

  </div>
  <div class="analytics-content">
    <h2><i class="fa-solid fa-cart-arrow-down"></i>Total Orders</h2>
    <h3>{{totalOrder}}</h3>
    <a routerLink="order">
      <button>View</button>
    </a>

  </div>
  <div class="analytics-content">
    <h2><i class="fa-solid fa-users"></i>Active Users</h2>
    <h3>{{totalUser}}</h3>
    <a routerLink="manageuser" [queryParams]="{isuser:'true',isactive:'true'}">
      <button>Manage</button>
    </a>

  </div>


  <div class="analytics-content">

    <h2><i class="fa-solid fa-users-slash"></i>Blocked Users</h2>

    <h3>{{totalBlockeduser}}</h3>

    <a routerLink="manageuser" [queryParams]="{isuser:'true',isactive:'false'}">
      <button>Manage</button>
    </a>

  </div>

  <div class="analytics-content">

    <h2><i class="fa-solid fa-users-gear"></i>Active Admins</h2>

    <h3>{{totalAdmin}}</h3>

    <a routerLink="manageuser" [queryParams]="{isuser:'false',isactive:'true'}">
      <button>Manage</button>
    </a>



    <a routerLink="invite">
      <button>Invite</button>
    </a>

  </div>
  <div class="analytics-content">

    <h2><i class="fa-solid fa-user-lock"></i>Blocked Admins</h2>

    <h3>{{totalBlockedadmin}}</h3>

    <a routerLink="manageuser" [queryParams]="{isuser:'false',isactive:'false'}">
      <button>Manage</button>
    </a>

  </div>


</div>
