<div class="manageorder">

  <div class="topbar">

    <div class="topbar-first">
      <h3>Orders/{{text}}</h3>
    </div>

    <div class="topbar-second">
      <input type="button" [value]="text" (click)="togglestatus(true)">
    </div>

  </div>

  <div class="table_content">

    <table>
      <thead>
        <tr>
          <th>order id</th>
          <th>payment id</th>
          <th>customer</th>
          <th>date</th>
          <th>status</th>
        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let data of FinalTable">
          <td>{{data.orderid | slice:0:10}}...</td>
          <td>#{{data.paymentid}}</td>
          <td>{{data.name}}</td>
          <td>{{data.date | date:'MMM d, yyyy,  h:mm a'}}</td>
          <td>
            <input type="button" [value]="data.status?'done':'pending'"
              [style]="data.status?'background-color:green':'background-color:#747406'" (click)="ToggleOrderStatus(data.orderid,data.status)">
            <input type="button" (click)="View(data.orderid)" value="view" [style]="'background-color:purple'">
          </td>
        </tr>


      </tbody>
    </table>

  </div>

  <div class="loading" *ngIf="!NoDataPrevent">
    <img src="/assets/load.svg" alt="loading">
  </div>

  <h2 style="text-align: center;" *ngIf="(FinalTable==null || FinalTable=='') && NoDataPrevent">No Data Found !</h2>


  <div class="sidebar" *ngIf="viewmodel">

    <div class="sidebar_top">
      <div class="left">
        <button (click)="Falseview()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div>
        <h3>Order Detail </h3>
      </div>
    </div>

    <div class="sidebar_loading" *ngIf="!viewloading">
      <img src="/assets/load.svg" alt="loading">
    </div>

    <div class="sidebar_content" *ngIf="viewloading">
      <h4>Name : <span>{{FinalViewData?.name}}</span></h4>
      <h4>Email : <span>{{FinalViewData?.email}}</span></h4>
      <h4>Address : <span>{{FinalViewData?.fulladdress}}</span></h4>
      <h4>Mobile : <span>{{FinalViewData?.mobile}}</span></h4>
      <h4>Date : <span>{{FinalViewData?.date|date:'EEEE, MMMM d, y, h:mm:ss a zzzz'}}</span></h4>
      <h4>Order Kit Id : <span>{{FinalViewData?.kitid}}</span></h4>
      <h4>Payment Id : <span>{{FinalViewData?.paymentid}}</span></h4>
      <h4>Status : <span *ngIf="FinalViewData?.status" style="color: green;">DONE</span> <span *ngIf="!FinalViewData?.status" style="color: #747406;">PENDING</span></h4>
      <h4>Order Id : <span>{{FinalViewData?.orderid}}</span></h4>
    </div>


    <div class="sidebar_foot" *ngIf="viewloading">
      <button *ngIf="!FinalViewData?.status" (click)="ToggleOrderStatus(FinalViewData?.orderid,FinalViewData?.status)" style="background-color: green;">Mark as Done</button>
      <button *ngIf="FinalViewData?.status" (click)="ToggleOrderStatus(FinalViewData?.orderid,FinalViewData?.status)" style="background-color: #747406;">Mark as Pending</button>
    </div>

  </div>

</div>
