@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');


.mykit{
  font-family: 'Josefin Sans', sans-serif;
}

.loading {
  width: 55px;
  height: 55px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
}

.loading img {
  width: 90%;
  height: auto;
}


.create_new {
  /* border: 2px solid red; */
  margin-top: 10px;
  padding: 10px;
  padding-right: 2%;
  display: flex;
  justify-content: right;
}

.create_new div {
  width: 90%;
  display: flex;
  align-items: center;
}

.create_new div h3 {
  text-align: left;
}

.create_new .righ {
  display: flex;
  justify-content: right;
}

.create_new a {
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(8, 65, 134);
  cursor: pointer;
}

.create_new a:hover {
  color: rgb(2, 29, 61);

}



.kit .list h4,
h5 {
  margin: 0px;
  padding: 7px 0px;
}

.kit {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
}

.list {
  border: 2px solid rgb(141, 139, 139);
  width: 300px;
  height: 250px;
  border-radius: 10px;
  margin: 10px;
  /* cursor: pointer; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* .list:hover .content {
  transition: .4s;
  background-color: rgb(6, 75, 93);
  color: white;
}

.list:hover {
  border: 2px solid rgb(6, 75, 93);
}

.list:hover .img img {
  transition: .3s;
  height: 100%;
} */

.img {
  border-bottom: 1px solid rgb(159, 156, 156);
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: auto;
  height: 90%;
  /* border: 2px solid red; */
}

.content {
  height: 45%;
  padding: 0px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.content button{
  margin: 0px;
  padding: 0px;
}

