<div class="wildcard">
  <div class="first">

    <div class="first-inside">
      <h1>This page isn't here, but you're not lost.</h1>

      <p>You're in the right place to get your venture growing. Start with the tools below or head to our home page to
        get started.</p>

      <div>
        <a [routerLink]="['/']"><button>Back to Home Page</button></a>
      </div>
    </div>

  </div>

  <div class="second">
    <img [src]="'assets/404page.jpg'" alt="Image of Notfound Page">
  </div>
</div>
