.manageorder {
  font-family: 'Josefin Sans', sans-serif;
}

.topbar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.topbar-second,
.topbar-first {
  width: 49%;
}

.topbar-second {
  display: flex;
  justify-content: right;
  align-items: center;
}

.topbar-second input {
  margin: 0px 6px;
  padding: 6px 14px;
  background-color: white;
  border: 2px solid green;
  border-radius: 5px;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}

.topbar-second input:hover {
  transition: all .4s;
  color: white;
  background-color: green;
}

.table_content {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.table_content table {
  width: 98%;
  /* width: fit-content; */
  text-align: center;
  border-collapse: collapse;
  border: 1px solid rgb(159, 151, 151);
}

.table_content table th {
  padding: 7px 0px;
  text-transform: uppercase;
  border: 1px solid rgb(159, 151, 151);
}

.table_content table tbody tr{
  cursor: pointer;
}

.table_content table tbody tr:hover {
  background-color: rgb(239, 237, 237);
}

.table_content table td {
  padding: 12px 1px;
  font-size: .8rem;
  color: rgb(62, 59, 59);
  border: 1px solid rgb(159, 151, 151);
}

.table_content table td input {
  text-transform: lowercase;
  padding: 3px 8px;
  font-size: .8rem;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0px 5px;
  border-radius: 5px;
}



@media screen and (min-width:1000px) {

  .table_content table th {
    font-size: 1.2rem;
  }

  .table_content table td {
    padding: 12px 1px;
    font-size: 1rem;
    color: rgb(62, 59, 59);
  }

  .table_content table td input {
    font-size: .9rem;
  }


}


.loading {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  width: 50px;
  height: 50px;
}

/* For sidebar */

.sidebar {
  background-color: rgb(251, 251, 251);
  /* border: 2px solid red; */
  border-top-left-radius: 10px;
  /* background-color: rgb(246, 246, 246); */
  position: fixed;
  top: 115px;
  right: 0px;
  height: 100%;
  width: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sidebar_top {
  display: flex;
  border-bottom: 1px solid rgb(155, 155, 155);
}

.sidebar_top div {
  /* border: 2px solid red; */
  width: 50%;
}

.sidebar_top .left {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.sidebar_top .left button {
  border: none;
  cursor: pointer;
}

.sidebar_top .left i {
  font-size: 1.5rem;
}

.sidebar_top h3 {
  text-align: right;
  margin-right: 15px;
}


.sidebar_loading {
  /* border: 2px solid red; */
  position: absolute;
  width: 100%;
  padding-top: 15px;
  text-align: center;
}

.sidebar_loading img {
  width: 50px;
  height: 50px;
}

.sidebar_content {
  height: 60%;
  color: black;
  /* border: 2px solid red; */
  overflow-y: scroll;
}

.sidebar_content h4 {
  border-bottom: 1px solid rgb(179, 176, 176);
  padding: 0px 20px;
  line-height: 22px;
}

.sidebar_content span {
  color: rgb(65, 65, 65);
}

.sidebar_foot {
  text-align: center;
  margin: 10px 10px;
}

.sidebar_foot button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: none;
  /* background-color: green; */
  color: white;
  margin: 5px;
}


@media screen and (max-width:630px) {
  .sidebar {
    width: 100%;
  }
}

@media screen and (min-width:1000px) {
  .sidebar {
    width: 35%;
  }
}

.product_info{
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  margin-left: 20px;
}

.left_info{
  /* border: 2px solid red; */
  margin-right: 20px;
}

.left_info img{
  height: 100px;
  width: auto;
}

