<div>
  <div class="landing-total">
    <div class="first">
      <div class="first-left">
        <div>
          <h1><span>T</span>rack Your Day & Be Productive</h1>
          <p>So what are you waiting for? Enter the UID of your target and start tracking their location in real-time
            today. Whether you're a concerned parent, a business owner, or just someone who wants to stay informed, our
            live location tracker is the perfect solution for all your tracking needs.</p>

          <form [formGroup]="uidForm" (ngSubmit)="mapFetch()">
            <div>
              <input type="text" placeholder="Enter UID" formControlName="uid">
            </div>
            <small style="color: red;"
              *ngIf="uidForm.controls['uid'].touched && uidForm.controls['uid'].errors?.['required']">Enter UID</small>
            <div>
              <button type="submit" [disabled]="uidForm.invalid">Track</button>
            </div>
          </form>
        </div>
      </div>
      <div class="first-right">
        <img [src]="'assets/landing1.webp'" alt="Image of Landing environment" width="2000" height="2000">
      </div>
    </div>


    <h1 class="howit-h1">How It Works</h1>
    <p class="learn-p">Learn more about our feature</p>

    <div class="second">
      <div class="second-left">
        <div>
          <h2>Node MCU</h2>
          <ul>
            <li>NodeMCU is a low-cost Wi-Fi enabled microcontroller that can be used to connect devices to the internet
            </li>
            <li>It can also be programmed using the Arduino IDE, which is a popular development environment for
              microcontrollers.</li>
            <li>NodeMCU can be used to connect a GPS module to the internet, and transmit GPS data to a server for
              processing.</li>
            <li>This allows location tracking data to be collected and analyzed in real-time, providing a more accurate
              and reliable location tracking experience for users.</li>
            <li>NodeMCU can be programmed using Lua scripting language, making it easy to use for beginners</li>
          </ul>
        </div>
      </div>
      <div class="second-right">
        <img [src]="'assets/landing2.webp'" alt="Image of Landing environment" width="2000" height="2000">
      </div>
    </div>


    <div class="third">
      <div class="third-left">
        <div>
          <h2>Data Processing</h2>
          <ul>
            <li>The NodeMCU device needs to be set up and programmed to gather latitude and longitude coordinates from a
              GPS sensor</li>
            <li>A database needs to be set up to store the latitude and longitude data. You can use a variety of
              databases, including MySQL, MongoDB, or Firebase Realtime Database, depending on your specific
              requirements.</li>
            <li>The NodeMCU device collects the latitude and longitude data and sends it to the database server.</li>
            <li>This can be done using HTTP.</li>
            <li>Once the data is received by the database server, it needs to be processed and stored in the database.
              This can involve parsing the data, checking for duplicates or errors, and formatting the data to match the
              database schema.</li>
          </ul>
        </div>
      </div>
      <div class="third-right">
        <img [src]="'assets/landing3.webp'" alt="Image of Landing environment" width="2000" height="2000">
      </div>
    </div>


    <div class="second topadd">
      <div class="second-left">
        <div>
          <h2>Visualizing</h2>
          <ul>
            <li>Retrieve the data from database.The data may need to be filtered or processed before visualizing it.
            </li>
            <li>Format the retrieved data in a suitable format that can be displayed on a map.</li>
            <li>This allows location tracking data to be collected and analyzed in real-time, providing a more accurate
              and reliable location tracking experience for users.</li>
            <li>Visualize the latitude and longitude data on the map</li>
            <li>Overall, the process of getting data from a database and visualizing it in a map involves retrieving and
              formatting the data.</li>
          </ul>
        </div>
      </div>
      <div class="second-right">
        <img [src]="'assets/landing4.webp'" alt="Image of Landing environment" width="2000" height="2000">
      </div>
    </div>

  </div>

  <footer>
    <div class="footer-logo">
      <img [src]="'logo.webp'" alt="logo of footer" width="1000" height="1000">
      <h2>Tracker</h2>
    </div>
    <div class="footer-navigation">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/support">Support</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-media">
      <a href="https://www.linkedin.com/in/karthikeyan-developer/" target="_blank" aria-label="linkedin"><i
          class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/karthikeyankdeveloper/" target="_blank" aria-label="github"><i
          class="fa-brands fa-github"></i></a>
    </div>
    <div class="footer-year">
      <p> &#169; 2023 All rights reserved</p>
    </div>
  </footer>
</div>
