<!-- Developed by [Karthikeyan K](https://www.linkedin.com/in/karthikeyan-developer/) -->
<router-outlet *ngIf="!isUpdate"></router-outlet>

<div class="update" *ngIf="isUpdate">
  <div class="updatefirst">
    <div class="first-inside">
      <h1>Maintenance</h1>
      <h1>We'll be right back !</h1>
      <p>Our website is currently undergoing scheduled maintenance. We should be back shortly. Thank you for your patience.</p>
      <p>Please try again later.</p>
    </div>
  </div>
  <div class="updatesecond">
    <img [src]="'assets/maintenance.webp'" alt="Image of maintenance" width="2000" height="2000">
  </div>
</div>


