<div class="navigator">

  <div class="navigator_left">
      <ul>
          <li>  <a routerLink=""><i class="fa-sharp fa-solid fa-arrow-left"></i> Back to home</a></li>
          <li>  <a routerLink="/user/dash"   routerLinkActive="selected_navigator">  <i class="fa-solid fa-house-chimney"></i> Dashboard</a></li>
          <li>  <a routerLink="/user/info"  routerLinkActive="selected_navigator">  <i class="fa-solid fa-address-card"></i> My Info</a></li>
          <li>  <a routerLink="/user/manage"  routerLinkActive="selected_navigator">  <i class="fa-brands fa-uikit"></i> Manage Kit</a></li>
          <li>  <a routerLink="/user/orders"  routerLinkActive="selected_navigator">  <i class="fa-solid fa-list-check"></i> My Orders</a></li>
          <li>  <a routerLink="/user/buy"  routerLinkActive="selected_navigator">  <i class="fa-solid fa-cart-shopping"></i> Buy</a></li>
          <li>  <a style="cursor: pointer;" (click)="toggleLogout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
      </ul>
  </div>

  <div class="navigator_right">

    <router-outlet></router-outlet>

  </div>


</div>

<div class="log_main" *ngIf="logoutCondition">
  <div class="logout">
      <h3><i class="fa-solid fa-xmark" (click)="toggleLogout()"></i> Confirmation</h3>
      <p>Are you sure you want to logout?</p>
      <div class="lg_btns">
          <button class="btn_red" (click)="toggleLogout()">Cancel</button>
          <button class="btn_green" (click)="logout()">Logout</button>
      </div>
  </div>
</div>

<div class="loading" *ngIf="loaderService.getUserLoader()">
  <img src="assets/loading.svg" alt="img">
</div>

