.navigator {
  font-family: 'Josefin Sans', sans-serif;
}

@media screen and (min-width:750px) {

  .navigator {
    display: flex;
  }


  .navigator_left {
    z-index: 10;
    /* border: 2px solid yellow; */
    position: sticky;
    top: 0px;
    width: 270px;
    height: fit-content;

  }

  .navigator_right {
    border-left: 1px solid rgb(202, 197, 197);
    margin-left: 20px;
    /* flex-grow: 0.9; */
    flex: 1 0 0;
    /* border: 2px solid green; */
  }


  .navigator_left ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    /* width: ; */
  }

  .navigator_left ul li {
    margin: 10px 0px;

  }


  .navigator_left ul li a {
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
    display: block;
    padding: 15px 0px;
    padding-left: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }


  .navigator_left ul li a:hover {
    transition: .2s;
    padding-left: 17px;
  }

  .selected_navigator {
    background-color: rgb(232, 240, 254);
    color: rgb(4, 4, 155) !important;
  }

}

@media screen and (min-width:750px) and (max-width:950px) {

  .navigator_left {
    width: 29%;
    z-index: 10;
  }

}

@media screen and (max-width:750px) {
  .navigator_left {
    z-index: 10;
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    top: 0px;
    background-color: white;
    border-bottom: 1px solid rgb(211, 205, 205);
  }

  .navigator_left ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    overflow-x: scroll;
  }

  .navigator_left ul li {
    margin: 10px 5px;
    /* border: 2px solid red; */
  }

  .navigator_left ul li a {
    white-space: nowrap;
    margin: 4px;
    padding: 5px;
    display: block;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgb(27, 26, 26);
  }

  .selected_navigator{
    color: rgb(8, 8, 188) !important;
    border-bottom: 3px solid rgb(8, 8, 188);
  }

}


/* --------------logout-------------------- */

.log_main {
  font-family: 'Josefin Sans', sans-serif;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(245, 245, 245, 0.744);
  z-index: 11;
  user-select: none;
}

.logout {
  position: fixed;
  width: 300px;
  height: 150px;
  border: 1px solid rgb(173, 171, 171);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 20px;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  z-index: 11;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.logout h3 {
  margin: 0px;
  padding: 10px;
  border-bottom: 1px solid rgb(153, 150, 150);
}

.logout h3 i {
  cursor: pointer;
}

.logout p {
  margin-left: 10px;
  color: rgb(87, 84, 84);
}

.lg_btns {
  display: flex;
  justify-content: center;
}

.lg_btns button {
  margin: 10px;
  padding: 10px 18px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.btn_red {
  background-color: red;
}

.btn_red:hover {
  background-color: rgb(180, 3, 3);
}

.btn_green {

  background-color: green;
}

.btn_green:hover {
  background-color: rgb(3, 80, 3);
}


/* --------------loading-------------------- */
.loading{
  /* border: 2px solid red; */
  user-select: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  z-index: 9;
  background-color: rgba(245, 245, 245, 0.522);
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: wait; */
}

.loading img{
  width: 50px;
  height: auto;
}



