<div class="navigator">

  <div class="navigator_left">
      <ul>
          <li>  <a routerLink=""><i class="fa-sharp fa-solid fa-arrow-left"></i> Back to home</a></li>
          <li>  <a routerLink="/user/dash"   routerLinkActive="selected_navigator">  <i class="fa-solid fa-house-chimney"></i> Dashboard</a></li>
          <li>  <a routerLink="/user/info"  routerLinkActive="selected_navigator">  <i class="fa-solid fa-address-card"></i> My Info</a></li>
          <li>  <a routerLink="/user/kit"  routerLinkActive="selected_navigator">  <i class="fa-brands fa-uikit"></i> Manage Kit</a></li>
          <li>  <a routerLink="/user/order"  routerLinkActive="selected_navigator">  <i class="fa-solid fa-list-check"></i> My Order</a></li>
          <li>  <a routerLink="/user/buy"  routerLinkActive="selected_navigator">  <i class="fa-solid fa-cart-shopping"></i> Buy</a></li>
          <li>  <a href=""><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
      </ul>
  </div>

  <div class="navigator_right">

    <router-outlet></router-outlet>

  </div>


</div>
