<div data-aos="fade-down">

  <div class="login-total">
    <div class="login-left">
      <img src="assets/login.jpg" alt="img">
    </div>

    <div class="login-right">

      <div class="right-content">
        <h1>LOGIN</h1>
        <p style="margin: 25px 13%;">Welcome Back :) To keep connected with us.</p>
        <form [formGroup]="LoginFormData" (ngSubmit)="AddLogin()">
          <div class="key">
            <input [type]="'email'" placeholder="Email"  formControlName="email" name="email">

            <small *ngIf="LoginFormData.controls['email'].errors?.['required'] && LoginFormData.controls['email'].touched">Enter Email Address</small>
            <small *ngIf="(LoginFormData.controls['email'].errors?.['email'] || LoginFormData.controls['email'].errors?.['pattern']) && LoginFormData.controls['email'].dirty">Enter Valid Email Address</small>
          </div>
          <div class="key">
            <input [type]="showpass?'text':'password'" placeholder="Password"  formControlName="password" name="Password">

            <small *ngIf="LoginFormData.controls['password'].errors?.['required'] && LoginFormData.controls['password'].touched">Enter Password</small>
            <small *ngIf="LoginFormData.controls['password'].errors?.['minlength'] && LoginFormData.controls['password'].dirty">Password Min length is 8.</small>
          </div>

          <div class="static">
            <div class="static-left">
              <input type="checkbox" name="showpass" id="showpass" (click)="Togglepass()">
              <label for="showpass"><p>Show password</p></label>
            </div>
            <div class="static-right">
              <a routerLink="/forgot">Forgot password ?</a>
            </div>
          </div>

          <div class="btn">
            <button [disabled]="LoginFormData.invalid || disable_button" type="submit">LOGIN</button>
          </div>

        </form>
        <p>Don't have an account ? <a routerLink="/signup" [style]="'text-decoration:none;'">Create now</a></p>

      </div>

    </div>
  </div>


</div>

