@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

.h2{
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 20px;
    text-align: left;
}


.analytics{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.analytics-content{
    text-align: center;
    border-radius: 15px;
    border: 1px solid rgb(3, 111, 3);
    width: 300px;
    margin: 10px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.analytics-content button{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: inline-block;
    margin: 0px 7px;
    margin-bottom: 10px;
    background-color: rgb(3, 111, 3);
    border: none;
    border-radius: 20px;
    padding: 11px 30px;
    color: white;
    cursor: pointer;

}

.analytics-content button:hover{
    background-color: rgb(2, 86, 2);
}


i{
    margin-right: 7px;
}


@media screen  and (max-width:1000px){

    .analytics{
        justify-content: center;
    }

}
