<div class="loading" *ngIf="!noDataPrevent">
  <img [src]="'assets/load.svg'" alt="loading">
</div>

<div class="create_new">
  <div>
    <h3>Manage Kit</h3>
  </div>
  <div class="righ">
    <a (click)="toggleView()">+Add New Kit</a>
  </div>
</div>

<div class="kit">
  <div class="list" *ngFor="let data of finalKitList" routerLink="/admin/viewkit" [queryParams]="{id:data.id}">
    <div class="img">
      <img [src]="data.img" alt="">
    </div>
    <div class="content">
      <h4>{{data.name}} ({{data.id}})</h4>
      <h5>{{data.desc | slice:0:35}} . . .</h5>
      <h4>{{data.discountprice|currency:'INR'}}  <span style="color: red;">{{data.actualprice|currency:'INR'}}</span></h4>
      <h5>Stock : {{data.stock}}</h5>
    </div>
  </div>
</div>

<h2 style="text-align: center; font-family: 'Josefin Sans', sans-serif;"
  *ngIf="finalKitList==''||finalKitList==null && noDataPrevent">No Data Available !</h2>


<div class="sidebar" *ngIf="viewModel">
  <div class="sidebar_top">
    <div class="left">
      <button (click)="toggleView()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div>
      <h3>Add New Kit </h3>
    </div>
  </div>

  <div class="sidebar_content">
    <form [formGroup]="addKitForm" (ngSubmit)="addNewKit()">
      <div class="label" [ngStyle]="{'color': addKitForm.controls['id'].errors?.['required'] && addKitForm.controls['id'].touched?'red':'black'}">
        <label for="id">Kit id</label>
      </div>
      <div class="input">
        <input type="number" placeholder="Kit id" formControlName="id" id="id">
      </div>

      <div class="label" [ngStyle]="{'color': addKitForm.controls['name'].errors?.['required'] && addKitForm.controls['name'].touched?'red':'black'}">
        <label for="name">Kit Name</label>
      </div>
      <div class="input">
        <input type="text" placeholder="Name" formControlName="name" id="name">
      </div>

      <div class="label" [ngStyle]="{'color': addKitForm.controls['desc'].errors?.['required'] && addKitForm.controls['desc'].touched?'red':'black'}">
        <label for="desc">Description</label>
      </div>
      <div class="input">
        <input type="text" placeholder="Description" formControlName="desc" id="desc">
      </div>

      <div class="label" [ngStyle]="{'color': addKitForm.controls['actualprice'].errors?.['required'] && addKitForm.controls['actualprice'].touched?'red':'black'}">
        <label for="actualprice">ActualPrice</label>
      </div>
      <div class="input">
        <input type="number" placeholder="actualprice" formControlName="actualprice" id="actualprice">
      </div>

      <div class="label" [ngStyle]="{'color': addKitForm.controls['discountprice'].errors?.['required'] && addKitForm.controls['discountprice'].touched?'red':'black'}">
        <label for="discountprice">DiscountPrice</label>
      </div>
      <div class="input">
        <input type="number" placeholder="discountprice" formControlName="discountprice" id="discountprice">
      </div>

      <div class="label" [ngStyle]="{'color': addKitForm.controls['stock'].errors?.['required'] && addKitForm.controls['stock'].touched?'red':'black'}">
        <label for="stock">Stock</label>
      </div>
      <div class="input">
        <input type="number" placeholder="stock" formControlName="stock" id="stock">
      </div>

      <div class="label" [ngStyle]="{'color': addKitForm.controls['img'].errors?.['required'] && addKitForm.controls['img'].touched?'red':'black'}">
        <label for="url">Image url</label>
      </div>
      <div class="input">
        <input type="text" placeholder="Image url" formControlName="img" id="url">
      </div>

      <div class="btn">
        <button type="submit" [disabled]="addKitForm.invalid">ADD KIT</button>
      </div>
    </form>
  </div>
</div>
