<div class="loading" *ngIf="!preventLoading">
  <img [src]="'assets/load.svg'" alt="loading">
</div>

<h3 style="font-family: 'Josefin Sans', sans-serif; margin-left: 10px;">View Kit/Update</h3>

<div class="viewkit">
  <div class="preview">
    <h3>Live View</h3>
    <div class="list">
      <div class="img">
        <img [src]="finalData?.img" alt="">
      </div>
      <div class="content">
        <h4>{{finalData?.name}} ({{finalData?.id}})</h4>
        <h5>{{finalData?.desc | slice:0:35}} . . .</h5>
        <h4>{{finalData?.discountprice|currency:'INR'}}  <span style="color: red;">{{finalData?.actualprice|currency:'INR'}}</span></h4>
        <h5 style="color: green;">Stock : {{finalData?.stock}}</h5>
      </div>
    </div>
    <button (click)="deleteKit()">Delete</button>
  </div>

  <div class="edit">
    <h3>Update</h3>
    <form (ngSubmit)="updateKit()" [formGroup]="updateForm">
      <div class="input">
        <label for="name">Name</label>
        <input type="text" type="text" placeholder="Name" id="name"  formControlName="name">
      </div>
      <div class="input">
        <label for="Description">Description</label>
        <input type="text" type="text" placeholder="Description" id="Description" formControlName="desc">
      </div>
      <div class="input">
        <label for="actualprice">ActualPrice</label>
        <input type="number" placeholder="actualprice" id="actualprice" formControlName="actualprice">
      </div>
      <div class="input">
        <label for="discountprice">DiscountPrice</label>
        <input type="number" placeholder="discountprice" id="discountprice" formControlName="discountprice">
      </div>
      <div class="input">
        <label for="stock">Stock</label>
        <input type="number" placeholder="stock" id="stock" formControlName="stock">
      </div>
      <div class="input">
        <label for="url">Image Url</label>
        <input type="text" type="text" placeholder="Image Url" id="url" formControlName="img">
      </div>

      <div>
        <button type="submit">Update</button>
      </div>
    </form>
  </div>
</div>
