<div class="dashboard" *ngIf="view">
  <div class="profilepic">
    <div class="centerit" routerLink="/user/info">
      <i class="fa-solid fa-user"></i>
    </div>
  </div>

  <div class="welcome">
    <h2>Welcome, {{userData.name}}</h2>
    <p>Manage your info, security, and more .</p>
  </div>

  <div class="shortinfo">
    <div class="child">
      <h3>Last Order</h3>

      <div class="shortcontent">
        <div class="bref">
          <p>See the last order status and date of order. <small style="font-size: 1rem;" *ngIf="lastOrder==null||lastOrder==''">you can also visit the order history or tracking section. <br><br><br></small>  </p>
          <div *ngIf="!(lastOrder==null||lastOrder=='')">
            <p ><i class="fa-regular fa-id-badge"></i> Order Id : {{lastOrder?.orderid|slice:1:99}}</p>
            <p ><i class="fa-solid fa-file-invoice-dollar"></i> Payment Id : {{lastOrder?.paymentid}}</p>
            <p><i class="fa-solid fa-calendar-days"></i> Date : {{lastOrder?.time|date:'MMM d, y, h:mm:ss a'}}</p>
            <p><i class="fa-solid fa-circle-info"></i> Status : {{lastOrder?.status}}</p>
          </div>
          <p *ngIf="lastOrder==null||lastOrder==''" style="color: rgb(11, 11, 90);">- <i class="fa-regular fa-folder-open"></i> No Order available.<br><br></p>
        </div>
        <img [src]="'assets/user-lastorder.webp'" alt="Last Order Image of dashboard" width="512" height="512">
      </div>

      <div style="margin-top: auto; border-top: 1px solid rgb(215, 218, 215);">
        <a routerLink="/user/orders">view all order</a>
      </div>
    </div>

    <div class="child">
      <h3>Device</h3>
      <div class="shortcontent">
        <div class="bref">
          <li>You have <i class="fa-solid fa-hard-drive"></i> {{deviceCount}} device.</li>
          <li>Manage your device details in the tracking section.</li>
          <li>We recommend you to continously change your device password for security purpose.</li>
          <li>Use below navigation to manage or buy kit.</li>
        </div>
        <img [src]="'assets/user-processor.webp'" alt="Device Image of dashboard" width="512" height="512">
      </div>
      <div style="margin-top: auto; border-top: 1px solid rgb(215, 218, 215);">
        <a routerLink="/user/manage">Manage Device</a> | <a routerLink="/user/buy">buy device</a>
      </div>
    </div>
  </div>

  <div class="security">
    <div class="sec_main">
      <h3>Security</h3>
      <div class="sec_content">
        <div class="bref">
          <li>Settings and recommendations to help you keep your account secure.</li>
          <li>Your account password last changed on <i class="fa-solid fa-lock"></i> &nbsp;<small style="font-size: 1rem; color: rgb(7, 7, 61);">{{userData.time|date:'MMM d, y, h:mm:ss a'}}</small> .</li>
          <li>We recommend you to continously change your account password for security purpose.</li>
          <li>Use below navigation to manage or buy kit.</li>
        </div>
        <img [src]="'assets/user-server.webp'" alt="Security Image of dashboard" width="512" height="512">
      </div>
    </div>
  </div>

  <div>
    <h3 style="text-align: center;">Frequently Asked Questions (FAQ)</h3>
    <div class="faq" style="text-align: center;">
      <div class="faq_main">
        <details>
          <summary>Can I customize the live location tracker app?</summary>
          <p>Explore the possibilities of customizing the live location tracker app to meet specific requirements, such
            as
            adding additional features, integrating with other services, or modifying the user interface.</p>
        </details>
        <details>
          <summary> Is my location data secure and private?</summary>
          <p>Understand the security measures in place to protect your location data, such as encryption protocols and
            user authentication, ensuring the privacy and confidentiality of the tracked information.</p>
        </details>
        <details>
          <summary>Can I track multiple objects or individuals simultaneously?</summary>
          <p>Learn about the capability of the live location tracker app to track multiple objects or individuals in
            real
            time, allowing you to monitor their locations simultaneously.</p>
        </details>

        <details>
          <summary> What hardware components are needed for the live location tracker?</summary>
          <p>Explore the necessary hardware components, such as NodeMCU (ESP8266), GPS module, and other peripherals,
            required to build and deploy the live location tracker system.</p>
        </details>
        <details>
          <summary>How do I configure NodeMCU for the live location tracker?</summary>
          <p>Find step-by-step instructions on setting up and configuring NodeMCU for the live location tracker app,
            including connecting the GPS module and configuring the Wi-Fi credentials.</p>
        </details>
      </div>
    </div>
  </div>
</div>
