<div>

  <div class="login-total">
    <div class="login-left">
      <img src="assets/signup.jpg" alt="img">
    </div>

    <div class="login-right">

      <div class="right-content">
        <h1>SIGNUP</h1>
        <p style="margin: 25px 13%;">We are honored to have you join.</p>
        <form [formGroup]="SignupFormData" (ngSubmit)="AddUser()">
          <div class="key">
            <input [type]="'text'" placeholder="Name"  formControlName="name" name="name">

            <small *ngIf="SignupFormData.controls['name'].errors?.['required'] && SignupFormData.controls['name'].touched">Enter Name</small>
            <small *ngIf="SignupFormData.controls['name'].errors?.['nameAlphabetError'] && SignupFormData.controls['name'].dirty">Name Only contain Alphabets</small>
            <small *ngIf="SignupFormData.controls['name'].errors?.['pattern'] && SignupFormData.controls['name'].dirty">Enter valid name</small>
            <small *ngIf="SignupFormData.controls['name'].errors?.['nameLengthError'] && SignupFormData.controls['name'].dirty">Name Min length is 2</small>

          </div>
          <div class="key">
            <input [type]="'email'" placeholder="Email"  formControlName="email" name="email" class="emailinput">

            <small *ngIf="SignupFormData.controls['email'].errors?.['required'] && SignupFormData.controls['email'].touched">Enter Email Address</small>
            <small *ngIf="(SignupFormData.controls['email'].errors?.['pattern'] || SignupFormData.controls['email'].errors?.['email']) && SignupFormData.controls['email'].dirty">Enter Valid Email Address</small>
          </div>
          <div class="key">
            <input [type]="showpass?'text':'password'" placeholder="Password"  formControlName="password" name="Password">

            <small *ngIf="SignupFormData.controls['password'].errors?.['required'] && SignupFormData.controls['password'].touched">Enter Password</small>
            <small *ngIf="SignupFormData.controls['password'].errors?.['pattern'] && SignupFormData.controls['password'].dirty">Contain 0-9,a-z,A-Z,special character, Min Length 8 </small>
          </div>
          <div class="key">
            <input [type]="showpass?'text':'password'" placeholder="Re-Enter Password"  formControlName="repassword" name="Password">

            <small *ngIf="SignupFormData.controls['repassword'].errors?.['required'] && SignupFormData.controls['repassword'].touched">Enter Re-Password</small>
            <small *ngIf="SignupFormData.controls['repassword'].dirty && SignupFormData.controls['repassword'].errors?.['passwordmatcher']">Password Not match</small>

          </div>

          <div class="static">
            <div class="static-left">
              <input type="checkbox" name="showpass" id="showpass" (click)="Togglepass()">
              <label for="showpass"><p>Show password</p></label>
            </div>
          </div>

          <div class="btn">
            <button [disabled]="SignupFormData.invalid || disable_button" type="submit">CREATE</button>
          </div>

        </form>
        <p>Already have an account ? <a routerLink="/login" [style]="'text-decoration:none;'">Login</a></p>

      </div>

    </div>
  </div>


</div>




