.login-total{
  font-family: 'Josefin Sans', sans-serif;
  /* height: 85vh; */
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  margin-top: 20px;
}

.login-left,.login-right{
  /* border: 2px solid red; */
  width: 50%;
}

.login-left{
  display: flex;
  justify-content: right;
  align-items: center;
}

.login-right{
  display: flex;
  align-items: center;
  justify-content: left;
}


.right-content h1{
  margin: 0px;
  padding: 0px;
}

.right-content form .key{
  /* border: 2px solid red; */
  height: 72px;
  margin-top: 5px;
}

.right-content form .key input{
  width: 70%;
  height: 33px;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.right-content form .key input:hover{
  border: 1.6px solid #13c4a7;
}

.right-content form .key input:focus{
  border: 1.6px solid #1612fb;
}

small{
  color: red;
  display: block;
  text-align: left;
  margin: 0px 15%;
  font-size: 1em;
  margin-top: 3px;
}

.static{
  display: flex;
  /* border: 2px solid red; */
  margin: 0px 15%;
}

.static-left{
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  /* border: 2px solid green; */
}

.static-left input{
  width: 18px;
  height: 18px;
}

.static-right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
  /* border: 2px solid green; */
}

.static-right a{
  text-decoration: none;
  padding-right: 5px;
  color: black;
}

.btn{
  /* border: 2px solid green; */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn button{
  cursor: pointer;
  width: 65%;
  height: 80%;
  background-color: #3a38fc;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.btn button:hover{
  background-color: #1612fb;
}
.btn button:disabled{
  background-color: #7b79f7;
}


@media screen and (max-width:400px) {
  .login-left{
      display: none;
  }

  .login-right{
      /* border: 2px solid red; */
      width: 100%;
      justify-content: center;
  }

  .right-content{
      text-align: center;
      width: 100%;
      /* border: 2px solid red; */
  }

  .right-content h1{
      font-size: 1.3rem;
  }
  .right-content p{
      font-size: 0.9rem;
  }

  .key input{
      height: 30px;
      font-size: 1rem;
  }

  .static-left input{
      width: 15px;
      height: 15px;
  }

  .static-right a{
      font-size: 0.9rem;
  }

}

@media screen and (min-width:401px) and (max-width:500px){

  .login-left{
      display: none;
  }

  .login-right{
      /* border: 2px solid red; */
      width: 100%;
      justify-content: center;
  }

  .right-content{
      text-align: center;
      width: 100%;
      /* border: 2px solid red; */
  }

}

@media screen and (min-width:501px) and (max-width:800px){

  .login-left{
      display: none;
  }

  .login-right{
      /* border: 2px solid red; */
      width: 100%;
      justify-content: center;
  }

  .right-content{
      text-align: center;
      width: 75%;
      /* border: 2px solid red; */
  }
}


@media screen and (min-width:801px) and (max-width:1000px){

  .login-left img{
      width: 80%;
      height: auto;
  }

  .right-content{
      text-align: center;
      width: 100%;
      /* border: 2px solid red; */
  }

}

@media screen and (min-width:1001px) and (max-width:1200px){

  .login-left img{
      width: 70%;
      height: auto;
  }

  .right-content{
      text-align: center;
      width: 85%;
      /* border: 2px solid red; */
  }

}


@media screen and (min-width:1201px){

  .login-left img{
      width: 70%;
      height: auto;
  }

  .right-content{
      text-align: center;
      width: 75%;
      /* border: 2px solid red; */
  }

}



/* Only for static */

@media screen and (max-width:340px){

  .static{
    display: flex;
    /* border: 2px solid red; */
    margin: 0px 10%;
  }

}





