
<div class="support">
  <div class="first">

    <div class="first-inside">
      <h1>Support</h1>
      <h2>Aspire Systems (India) Pvt. Ltd.</h2>
      <p>Monday-Friday 10:30 A.M to 6:00 P.M(IST)</p>

      <h2>Get in touch</h2>

      <p><i class="fa-solid fa-phone"></i><a href="tel:+91 44 6740 4000">91 44 6740 4000</a></p>
      <p><i class="fa-solid fa-envelope"></i><a href="mailto:info-india@aspiresys.com">info-india@aspiresys.com</a></p>

      <h2>Locate Us</h2>

      <p>1/D-1, SIPCOT IT PARK Siruseri, Chennai - 603 103 Tamil Nadu, India</p>

    </div>

  </div>

  <div class="second">
    <img [src]="'assets/support.webp'" alt="Image of Support Page" width="2000" height="2000">
  </div>
</div>


