<div>

  <div class="login-total">
    <div class="login-left">
      <img src="assets/forgot.jpg" alt="img">
    </div>

    <div class="login-right">

      <div class="right-content">
        <h1>FORGOT PASSWORD</h1>
        <p style="margin: 25px 13%;">Enter Email and update your password.</p>

        <form [formGroup]="ForgotFormData" (ngSubmit)="Update()">


          <div class="key">
            <input [type]="'email'" placeholder="Email"  formControlName="email" name="email">

            <small *ngIf="ForgotFormData.controls['email'].errors?.['required'] && ForgotFormData.controls['email'].touched">Enter Email Address</small>
            <small *ngIf="(ForgotFormData.controls['email'].errors?.['email'] || ForgotFormData.controls['email'].errors?.['pattern']) && ForgotFormData.controls['email'].dirty">Enter Valid Email Address</small>
          </div>


          <div class="key">
            <input [type]="showpass?'text':'password'" placeholder="Password"  formControlName="password" name="Password">

            <small *ngIf="ForgotFormData.controls['password'].errors?.['required'] && ForgotFormData.controls['password'].touched">Enter Password</small>
            <small *ngIf="ForgotFormData.controls['password'].errors?.['pattern'] && ForgotFormData.controls['password'].dirty">Contain 0-9,a-z,A-Z,special character, Min Length 8</small>
          </div>


          <div class="key">
            <input [type]="showpass?'text':'password'" placeholder="Confirm Password"  formControlName="repassword" name="RePassword">

            <small *ngIf="ForgotFormData.controls['repassword'].errors?.['required'] && ForgotFormData.controls['repassword'].touched">Enter Re Password</small>
            <small *ngIf="ForgotFormData.controls['repassword'].errors?.['passwordmatcher'] && ForgotFormData.controls['repassword'].dirty">Password Not Match.</small>
          </div>

          <div class="static">
            <div class="static-left">
              <input type="checkbox" name="showpass" id="showpass" (click)="Togglepass()">
              <label for="showpass"><p>Show password</p></label>
            </div>
          </div>

          <div class="btn">
            <button [disabled]="ForgotFormData.invalid || disable_button" type="submit">UPDATE</button>
          </div>

        </form>

      </div>

    </div>
  </div>


</div>


